<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ff7b3057-4237-44c3-858e-92d7c1686526" Alias="aboutPage" Level="2">
  <Info>
    <Name>About Page</Name>
    <Icon>icon-users</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="2c43af35-0ec9-4adb-960f-ffa99b323475">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>AboutPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="58ee7e9c-7797-4ee5-a45a-1f899312d63d">AboutPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="214759f4-2b3f-4f85-aa51-6d95cc3744eb" SortOrder="0">shared</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2310f729-190e-49ed-a403-f16cd53ac0b6</Key>
      <Name>Contact Section</Name>
      <Alias>contactSection</Alias>
      <Definition>f449c568-8ac6-4e08-a131-23d97049d4e5</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4990cdfd-be30-4e0c-9329-1a421300b56d</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>98ec6be0-fb04-493c-95be-b9df694ef74e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c0115c0e-1a7c-4a91-842a-ac74bfee9773</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>