<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7ca84ff1-ad76-4371-a7f7-d423685951c3" Alias="contactPage" Level="2">
  <Info>
    <Name>Contact Page</Name>
    <Icon>icon-message</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="2c43af35-0ec9-4adb-960f-ffa99b323475">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>contactPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a93754db-3f94-4aae-9b8e-1bf54a066c91">contactPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>