<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1cca7f55-0fa8-4f95-8a93-4806e94893a5" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="20e27acb-3152-4513-b20b-615d37471571">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7ca84ff1-ad76-4371-a7f7-d423685951c3" SortOrder="0">contactPage</ContentType>
    <ContentType Key="9be3baef-e513-49dd-9167-77060e70581f" SortOrder="1">servicePage</ContentType>
    <ContentType Key="ff7b3057-4237-44c3-858e-92d7c1686526" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>18a3cdd5-7312-4a75-9cac-bccc94a628ad</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>98ec6be0-fb04-493c-95be-b9df694ef74e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>956fc78c-5541-458d-a6a9-0282ef6af1b3</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>