<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0518777b-3ce2-446e-a958-0494c5ab18ea" Alias="projectPage" Level="2">
  <Info>
    <Name>Project Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="2c43af35-0ec9-4adb-960f-ffa99b323475">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>ProjectPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a541075f-097a-4fcc-9be1-6bc9c3429baf">ProjectPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e54a55f9-959e-4af3-b88b-7121eee6df48</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>98ec6be0-fb04-493c-95be-b9df694ef74e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b864ff20-0a9c-4cda-bd2b-ae01cb474b1a</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>