<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="214759f4-2b3f-4f85-aa51-6d95cc3744eb" Alias="shared" Level="2">
  <Info>
    <Name>Shared</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Shared</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="dc127a50-cb0c-41c7-8a3a-71fc57ce4ded" SortOrder="0">contactSection</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>