<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cc3e3d3a-2474-40ca-97f0-87c8902a32ed" Alias="supportSubmissions" Level="2">
  <Info>
    <Name>Support Submissions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Forms</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6c91cf96-933e-4370-94fc-d9462c12b7ff" SortOrder="0">supportRequest</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>