<?xml version="1.0" encoding="utf-8"?>
<Media Key="36ade34c-d50d-4b92-aee2-ee19b51871ba" Alias="Aaron-Lambert.svg" Level="2">
  <Info>
    <Parent Key="53d3039f-ce2c-4806-b531-0028013ad602">Team Members</Parent>
    <Path>/TeamMembers/AaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-21T13:41:28</CreateDate>
    <NodeName Default="Aaron-Lambert.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x4ffnfrk/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>