<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b26066d-f5cb-424d-b7a1-2c39e95ed262" Alias="About" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/About</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-05T11:34:50</CreateDate>
    <NodeName Default="About" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>