<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb04d99a-b6aa-46b9-92b4-0ff20b9eb5c9" Alias="Assurance-tn.svg" Level="2">
  <Info>
    <Parent Key="53d2a66e-752a-49cd-b64e-87e257607090">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/AssuranceTnsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-22T15:34:04</CreateDate>
    <NodeName Default="Assurance-tn.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ngyp402n/assurance-tn.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>