<?xml version="1.0" encoding="utf-8"?>
<Media Key="37ddd9b7-4b3e-4502-bf9e-5f1b75516cf1" Alias="Bonds-tn.svg" Level="2">
  <Info>
    <Parent Key="53d2a66e-752a-49cd-b64e-87e257607090">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/BondsTnsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-22T15:34:04</CreateDate>
    <NodeName Default="Bonds-tn.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/isydnfyz/bonds-tn.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>