<?xml version="1.0" encoding="utf-8"?>
<Media Key="f715eee2-584b-4c31-b50e-3b256acf686e" Alias="Brandon-Kerr.svg" Level="2">
  <Info>
    <Parent Key="53d3039f-ce2c-4806-b531-0028013ad602">Team Members</Parent>
    <Path>/TeamMembers/BrandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-21T13:41:27</CreateDate>
    <NodeName Default="Brandon-Kerr.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cgdo2v1m/brandon-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>