<?xml version="1.0" encoding="utf-8"?>
<Media Key="875f9356-575b-42d1-a177-726400e534cf" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-21T15:01:27</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uqxp0zka/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>