<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ec3c5a6-7e53-470d-b419-7c50694671f8" Alias="Brandon-Newton.svg" Level="2">
  <Info>
    <Parent Key="53d3039f-ce2c-4806-b531-0028013ad602">Team Members</Parent>
    <Path>/TeamMembers/BrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-21T13:41:28</CreateDate>
    <NodeName Default="Brandon-Newton.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kwwdr1tu/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>