<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a244d70-165b-4604-a2cb-b615a57eb1d2" Alias="Contacts" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contacts</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-05T14:15:24</CreateDate>
    <NodeName Default="Contacts" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>