<?xml version="1.0" encoding="utf-8"?>
<Media Key="580c6d49-221a-4d19-b2b5-fae92758e20b" Alias="ContactImage.svg" Level="2">
  <Info>
    <Parent Key="1a244d70-165b-4604-a2cb-b615a57eb1d2">Contacts</Parent>
    <Path>/Contacts/ContactImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T14:15:30</CreateDate>
    <NodeName Default="ContactImage.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xpik3oqb/contactimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>