<?xml version="1.0" encoding="utf-8"?>
<Media Key="c619c8c3-9e36-4bab-8da6-af0740f4fd1f" Alias="Financial-tn.svg" Level="2">
  <Info>
    <Parent Key="53d2a66e-752a-49cd-b64e-87e257607090">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/FinancialTnsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-22T15:34:03</CreateDate>
    <NodeName Default="Financial-tn.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gcqoezqr/financial-tn.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>