<?xml version="1.0" encoding="utf-8"?>
<Media Key="cead111c-ea7c-43ca-a748-aac776341938" Alias="Hero-BgImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroBgImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-20T20:50:18</CreateDate>
    <NodeName Default="Hero-BgImage.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/30wa4ldh/hero-bgimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>