<?xml version="1.0" encoding="utf-8"?>
<Media Key="74977b3f-0601-4025-a2d6-bc766bb5d699" Alias="Kevin-Gardner.svg" Level="2">
  <Info>
    <Parent Key="53d3039f-ce2c-4806-b531-0028013ad602">Team Members</Parent>
    <Path>/TeamMembers/KevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-21T13:41:27</CreateDate>
    <NodeName Default="Kevin-Gardner.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zqjhzvbg/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>