<?xml version="1.0" encoding="utf-8"?>
<Media Key="840d8217-3680-4cf9-a07a-b83d8f2d24f2" Alias="KevinAboutImage.svg" Level="2">
  <Info>
    <Parent Key="7b26066d-f5cb-424d-b7a1-2c39e95ed262">About</Parent>
    <Path>/About/KevinAboutImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:36:43</CreateDate>
    <NodeName Default="KevinAboutImage.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2u5l4zu1/kevinaboutimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>