<?xml version="1.0" encoding="utf-8"?>
<Media Key="40054982-9efd-491f-9a3d-eb07d0711e0f" Alias="Miranda-Dayton.svg" Level="2">
  <Info>
    <Parent Key="53d3039f-ce2c-4806-b531-0028013ad602">Team Members</Parent>
    <Path>/TeamMembers/MirandaDaytonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-21T13:41:28</CreateDate>
    <NodeName Default="Miranda-Dayton.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oeqp3yg0/miranda-dayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>