<?xml version="1.0" encoding="utf-8"?>
<Media Key="00923485-df76-4960-96f4-dc290332e058" Alias="Onatrix-Logo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnatrixLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-21T15:00:40</CreateDate>
    <NodeName Default="Onatrix-Logo.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o4edbytn/onatrix-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>