<?xml version="1.0" encoding="utf-8"?>
<Media Key="459dbce8-2a0d-4eaf-8f77-13e7870bb6f2" Alias="OnlineSignatures.svg" Level="2">
  <Info>
    <Parent Key="a4225f46-7ba2-422d-aa05-c9e701bed2d9">Signatures</Parent>
    <Path>/Signatures/OnlineSignaturessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T14:37:20</CreateDate>
    <NodeName Default="OnlineSignatures.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/diad5jyw/onlinesignatures.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>