<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d6ad2da-0ff6-4dbd-ac67-cbcaf07f0d23" Alias="Partner6.svg (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Partner6svg1</Path>
    <Trashed Parent="b364ab53-98b7-4836-98a7-1bc60d680d7d">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-04T14:49:06</CreateDate>
    <NodeName Default="Partner6.svg (1)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fg3jdxor/partner6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>