<?xml version="1.0" encoding="utf-8"?>
<Media Key="518b9efb-489d-4e54-bd7e-9d8f423c71ad" Alias="Partner2.svg (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Partner2svg1</Path>
    <Trashed Parent="b364ab53-98b7-4836-98a7-1bc60d680d7d">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-04T14:49:06</CreateDate>
    <NodeName Default="Partner2.svg (1)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bd1hb2n0/partner2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>