<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8c06528-3fb2-4e16-b2aa-c6012c17931e" Alias="Partner4.svg (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Partner4svg1</Path>
    <Trashed Parent="b364ab53-98b7-4836-98a7-1bc60d680d7d">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-04T14:49:05</CreateDate>
    <NodeName Default="Partner4.svg (1)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1mgdw4ev/partner4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>