<?xml version="1.0" encoding="utf-8"?>
<Media Key="b364ab53-98b7-4836-98a7-1bc60d680d7d" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-04T14:48:37</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>