<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b6dc14b-221a-4eaa-9d97-3a2aab4e6e10" Alias="Partner6.svg" Level="2">
  <Info>
    <Parent Key="b364ab53-98b7-4836-98a7-1bc60d680d7d">Partners</Parent>
    <Path>/Partners/Partner6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-04T14:48:57</CreateDate>
    <NodeName Default="Partner6.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xcujngz3/partner6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>