<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba48a030-bad0-43d6-9f01-f48ee72ac0a8" Alias="Partner5.svg" Level="2">
  <Info>
    <Parent Key="b364ab53-98b7-4836-98a7-1bc60d680d7d">Partners</Parent>
    <Path>/Partners/Partner5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-04T14:48:58</CreateDate>
    <NodeName Default="Partner5.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ypelggxx/partner5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>