<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8c235f6-4558-4095-8a80-41170ae78211" Alias="Partner3.svg (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Partner3svg1</Path>
    <Trashed Parent="b364ab53-98b7-4836-98a7-1bc60d680d7d">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-04T14:49:05</CreateDate>
    <NodeName Default="Partner3.svg (1)" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/avodssd5/partner3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>