<?xml version="1.0" encoding="utf-8"?>
<Media Key="9137e532-25a1-4d90-835c-dd0028dfdcbd" Alias="Partner1.svg" Level="2">
  <Info>
    <Parent Key="b364ab53-98b7-4836-98a7-1bc60d680d7d">Partners</Parent>
    <Path>/Partners/Partner1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-04T14:48:57</CreateDate>
    <NodeName Default="Partner1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yggnymmg/partner1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>