<?xml version="1.0" encoding="utf-8"?>
<Media Key="4eeee22d-8c00-480c-95a6-ace3a7a36153" Alias="Partner2.svg" Level="2">
  <Info>
    <Parent Key="b364ab53-98b7-4836-98a7-1bc60d680d7d">Partners</Parent>
    <Path>/Partners/Partner2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-04T14:48:57</CreateDate>
    <NodeName Default="Partner2.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/10fbl1rh/partner2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>