<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1587548-ee59-49ea-bfd8-777dfe908aa2" Alias="Partner5.svg (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Partner5svg1</Path>
    <Trashed Parent="b364ab53-98b7-4836-98a7-1bc60d680d7d">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-04T14:49:06</CreateDate>
    <NodeName Default="Partner5.svg (1)" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[]]></Value>
    </umbracoFile>
  </Properties>
</Media>