<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2c15b97-f824-484d-a1e8-ed864aff55b3" Alias="Partner1.svg (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Partner1svg1</Path>
    <Trashed Parent="b364ab53-98b7-4836-98a7-1bc60d680d7d">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-04T14:49:05</CreateDate>
    <NodeName Default="Partner1.svg (1)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mqzduqqd/partner1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>