<?xml version="1.0" encoding="utf-8"?>
<Media Key="10f55267-440e-4612-ad47-53fde979ae73" Alias="Partner3.svg" Level="2">
  <Info>
    <Parent Key="b364ab53-98b7-4836-98a7-1bc60d680d7d">Partners</Parent>
    <Path>/Partners/Partner3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-04T14:48:57</CreateDate>
    <NodeName Default="Partner3.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sq3a3mbj/partner3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>