<?xml version="1.0" encoding="utf-8"?>
<Media Key="88c3c608-7f48-4d1c-a8e4-cce6959c96a4" Alias="Risk-tn.svg" Level="2">
  <Info>
    <Parent Key="53d2a66e-752a-49cd-b64e-87e257607090">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/RiskTnsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-22T15:34:04</CreateDate>
    <NodeName Default="Risk-tn.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5oxdqkdp/risk-tn.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>