<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1ccc206-9743-4db1-9d6a-a4b31d25b6d1" Alias="RiskImage1.svg" Level="2">
  <Info>
    <Parent Key="e7282208-a15b-4e52-93f4-f88971077f1b">Services</Parent>
    <Path>/Services/RiskImage1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T13:35:10</CreateDate>
    <NodeName Default="RiskImage1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4r5h2u0y/riskimage1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>