<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d03beac-c299-4b89-bc53-94d164dcc4a1" Alias="RiskImage2.svg" Level="2">
  <Info>
    <Parent Key="e7282208-a15b-4e52-93f4-f88971077f1b">Services</Parent>
    <Path>/Services/RiskImage2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T13:33:42</CreateDate>
    <NodeName Default="RiskImage2.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lybld12c/riskimage2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>