<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7282208-a15b-4e52-93f4-f88971077f1b" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-13T13:33:34</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>