<?xml version="1.0" encoding="utf-8"?>
<Media Key="de00349b-9073-46f9-a1ba-86466c195084" Alias="Statistic-tn.svg" Level="2">
  <Info>
    <Parent Key="53d2a66e-752a-49cd-b64e-87e257607090">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/StatisticTnsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-22T15:34:03</CreateDate>
    <NodeName Default="Statistic-tn.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nbopw5su/statistic-tn.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>