<?xml version="1.0" encoding="utf-8"?>
<Media Key="48685847-4d25-4247-b7e0-9127463be4ed" Alias="Story" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Story</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-04T12:19:21</CreateDate>
    <NodeName Default="Story" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>