<?xml version="1.0" encoding="utf-8"?>
<Media Key="823d4223-c83c-409c-9fe9-e52daceae5b6" Alias="StoryTeamImage.svg" Level="2">
  <Info>
    <Parent Key="48685847-4d25-4247-b7e0-9127463be4ed">Story</Parent>
    <Path>/Story/StoryTeamImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T12:19:32</CreateDate>
    <NodeName Default="StoryTeamImage.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0h5j4ybh/storyteamimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>