<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2317a24-a9ce-4149-8352-4814506902ce" Alias="SuccessImage2.svg" Level="2">
  <Info>
    <Parent Key="48685847-4d25-4247-b7e0-9127463be4ed">Story</Parent>
    <Path>/Story/SuccessImage2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T12:21:07</CreateDate>
    <NodeName Default="SuccessImage2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/01djgqgv/successimage2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>