<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfcb8b05-1e25-40f3-8db6-5d28f41a19aa" Alias="Tax-tn.svg" Level="2">
  <Info>
    <Parent Key="53d2a66e-752a-49cd-b64e-87e257607090">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/TaxTnsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-22T15:34:04</CreateDate>
    <NodeName Default="Tax-tn.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/41rda1yc/tax-tn.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>