<?xml version="1.0" encoding="utf-8"?>
<Media Key="e959966a-5012-4934-b838-9261856d6176" Alias="Tina-Fox.svg" Level="2">
  <Info>
    <Parent Key="53d3039f-ce2c-4806-b531-0028013ad602">Team Members</Parent>
    <Path>/TeamMembers/TinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-21T13:41:27</CreateDate>
    <NodeName Default="Tina-Fox.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/th5kesjv/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>