<?xml version="1.0" encoding="utf-8"?>
<Media Key="c51bcd46-5626-4ce4-b635-b84d71fbd767" Alias="TinaAboutImage.svg" Level="2">
  <Info>
    <Parent Key="7b26066d-f5cb-424d-b7a1-2c39e95ed262">About</Parent>
    <Path>/About/TinaAboutImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:35:05</CreateDate>
    <NodeName Default="TinaAboutImage.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wrylsjz3/tinaaboutimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>