@model CallbackFormViewModel
@using UmbracoEC.ViewModels

@using (Html.BeginUmbracoForm("HandleCallbackForm", "Callback", FormMethod.Post, new { novalidate = "novalidate", id = "callbackForm" }))
{
    <div class="px-[2rem] flex flex-col gap-6">

        @await Html.PartialAsync("Partials/Forms/_CallbackFormFields", Model)

        <div class="pb-[2.5rem]">
            <button type="submit" class="form-btn">Submit</button>
        </div>
    </div>
} 