@using UmbracoEC.ViewModels
@model QuestionFormViewModel

@{
    Html.ViewData.TemplateInfo.HtmlFieldPrefix = "question";
}

@using (Html.BeginUmbracoForm("HandleQuestionForm", "Question", FormMethod.Post, new { id = "questionForm" }))
{
    <div class="flex flex-col gap-6 pb-6">

        <div class="grid grid-cols-2 gap-4 w-full">

            <div class="flex flex-col">
                <label asp-for="Name" class="sr-only"></label>

                <input asp-for="Name"
                       type="text"
                       placeholder="@Html.DisplayNameFor(x => x.Name)"
                       class="w-full pl-4 text-notel bg-white-100 py-3 italic rounded border border-gray-300
                               focus:ring-primary" />

                <span asp-validation-for="Name"
                      class="font-semibold text-red-600 text-sm pt-1 block"></span>
            </div>

            <div class="flex flex-col">
                <label asp-for="Email" class="sr-only"></label>

                <input asp-for="Email"
                       type="text"
                       placeholder="@Html.DisplayNameFor(x => x.Email)"
                       class="w-full pl-4 text-notel bg-white-100 py-3 italic rounded border border-gray-300
                              focus:ring-primary" />

                <span asp-validation-for="Email"
                      class="font-semibold text-red-600 text-sm pt-1 block"></span>
            </div>

        </div>

        <label asp-for="Question" class="sr-only"></label>

        <input asp-for="Question"
               type="text"
               placeholder="@Html.DisplayNameFor(x => x.Question)"
               class="w-full pl-4 pb-22 text-notel bg-white-100 py-3 italic rounded border border-gray-300
                           focus:ring-primary" />

        <span asp-validation-for="Question"
              class="font-semibold text-red-600 text-sm block"></span>

        <button type="submit"
                class="bg-primary max-w-[140px] p-4 rounded text-secondary cursor-pointer hover:bg-green-800">
            Submit
        </button>

    </div>
}

