<?xml version="1.0" encoding="utf-8"?>
<DataType Key="410886c0-184a-43ab-8316-d39f07e93c72" Alias="Call Back Section - Call Back Form Dropdown Menu" Level="1">
  <Info>
    <Name>Call Back Section - Call Back Form Dropdown Menu</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>