<?xml version="1.0" encoding="utf-8"?>
<DataType Key="443903e8-41e1-44d8-819d-1c04e310141c" Alias="Call Back Section -  Form Email" Level="1">
  <Info>
    <Name>Call Back Section -  Form Email</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EmailAddress</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "email"
}]]></Config>
</DataType>