<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d8c9d722-e272-416e-8aac-504220d395c3" Alias="Contact Section - Contact Email" Level="1">
  <Info>
    <Name>Contact Section - Contact Email</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "email",
  "maxChars": 512
}]]></Config>
</DataType>