<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ad57a777-f8ce-41ad-b35c-14e4f7d5ded5" Alias="ContactSection" Level="1">
  <Info>
    <Name>ContactSection</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "a9a28896-ad2d-46ae-a78b-ca7887ecaee2,dc127a50-cb0c-41c7-8a3a-71fc57ce4ded,214759f4-2b3f-4f85-aa51-6d95cc3744eb",
  "maxNumber": 0,
  "minNumber": 0
}]]></Config>
</DataType>