<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f449c568-8ac6-4e08-a131-23d97049d4e5" Alias="Contact Section Picker" Level="1">
  <Info>
    <Name>Contact Section Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "dc127a50-cb0c-41c7-8a3a-71fc57ce4ded",
  "maxNumber": 1,
  "minNumber": 0,
  "startNode": {
    "type": "content"
  }
}]]></Config>
</DataType>