<?xml version="1.0" encoding="utf-8"?>
<DataType Key="98ec6be0-fb04-493c-95be-b9df694ef74e" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1da7d3e5-7da6-40e2-860b-76a719d98b70"
    },
    {
      "contentElementTypeKey": "8d8ed050-1de9-403f-9361-6264fa308874",
      "settingsElementTypeKey": "6b11222b-2845-45a3-9944-0752552866dc"
    },
    {
      "contentElementTypeKey": "0a66851f-0078-45b7-8d2e-a11b67c0e0cd"
    },
    {
      "contentElementTypeKey": "fa69d4dd-b6af-4e82-8d43-34ced6b79578",
      "settingsElementTypeKey": "bc712fa2-f314-4bd0-9032-e9d8e7a8ff92"
    },
    {
      "contentElementTypeKey": "0e574760-5f78-4a9d-92f0-e42cfaad73c9"
    },
    {
      "contentElementTypeKey": "3709a6f7-3914-4b29-a07c-21214d57e903"
    },
    {
      "contentElementTypeKey": "1f669907-4998-42de-aded-8aabf00c8dc3"
    },
    {
      "contentElementTypeKey": "a9a28896-ad2d-46ae-a78b-ca7887ecaee2"
    }
  ]
}]]></Config>
</DataType>