<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec15081a-7e69-41a7-acde-6fa1e00ed24b" Alias="Partner Section - Partners List - Block List " Level="1">
  <Info>
    <Name>Partner Section - Partners List - Block List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "dba5c0ff-a1cf-4d95-b52b-61e8fd1d3c69",
      "label": "{umbValue: partnerName}"
    }
  ]
}]]></Config>
</DataType>