<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d58818af-7434-4e5f-949b-c9bdce94bec6" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4a392d2c-f5ab-4619-a98b-0a398dcf8654"
    },
    {
      "contentElementTypeKey": "29d7a034-2da4-433e-9be0-e72df5b77746"
    }
  ]
}]]></Config>
</DataType>