<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6623fe2c-8a4a-4841-99e7-074b935d3152" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c246ebe8-0823-477f-98b1-c272d337c4b1",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>