<?xml version="1.0" encoding="utf-8"?>
<DataType Key="74a36187-c4f1-4629-8b56-30ddc62cf8ec" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "2ef3529d-3c7d-4263-b700-956fa77ef63e",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>