@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using UmbracoEC.ViewModels
@{
    var content = (ContentModels.PartnerSection)Model.Content;
    var items = content.PartnerItem;
}

<section>
    <div class="container">
        <div class="py-22">
            @if (items != null && items.Any())
            {
                <div class="flex flex-wrap justify-center gap-16 py-10">
                    @foreach (var partner in items)
                    {
                        var item = (ContentModels.PartnerItem)partner.Content;
                        <div class="flex flex-row items-center">
                            <img class="" src="@item.PartnerImage?.Url()" alt="@item.PartnerImage?.Name"/>
                            
                        </div>
                    }
				</div>
            }
        </div>
    </div>
</section>
