<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9c6f8ec-92e0-4128-a1d7-f8b48313975a" Alias="2025-10-30 16:06 - Rikard" Level="2">
  <Info>
    <Parent Key="9bca9c6d-e8b2-4b05-a54d-df4147b7a58d">Form Submissions</Parent>
    <Path>/FormSubmissions/Rikard</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-30T16:06:00</CreateDate>
    <NodeName Default="2025-10-30 16:06 - Rikard" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[rikard@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Rikard]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0701234567]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>