<?xml version="1.0" encoding="utf-8"?>
<Content Key="d99a5690-8517-4d96-91bb-1c3defd4cd60" Alias="2025-11-13 13:06 - r@dd.com" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/rDdcom</Path>
    <Trashed Parent="9bca9c6d-e8b2-4b05-a54d-df4147b7a58d">true</Trashed>
    <ContentType>supportRequest</ContentType>
    <CreateDate>2025-11-13T13:06:35</CreateDate>
    <NodeName Default="2025-11-13 13:06 - r@dd.com" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <supportRequestEmail>
      <Value><![CDATA[r@dd.com]]></Value>
    </supportRequestEmail>
  </Properties>
</Content>