<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e11f5b8-6f95-46f5-9eb3-e3bfd7c94cc4" Alias="2025-10-30 16:16 - test" Level="2">
  <Info>
    <Parent Key="9bca9c6d-e8b2-4b05-a54d-df4147b7a58d">Form Submissions</Parent>
    <Path>/FormSubmissions/test</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-30T16:16:55</CreateDate>
    <NodeName Default="2025-10-30 16:16 - test" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0721234567]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>