<?xml version="1.0" encoding="utf-8"?>
<Content Key="3eac26e7-c141-44f4-b266-e4f73607f4e8" Alias="2025-11-14 19:36 - rr@domain.com" Level="2">
  <Info>
    <Parent Key="c77ad86a-27f6-45dc-a90b-237a649fc15f">Support Submissions</Parent>
    <Path>/SupportSubmissions/rrDomaincom</Path>
    <Trashed>false</Trashed>
    <ContentType>supportRequest</ContentType>
    <CreateDate>2025-11-14T19:36:09</CreateDate>
    <NodeName Default="2025-11-14 19:36 - rr@domain.com" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <supportRequestEmail>
      <Value><![CDATA[rr@domain.com]]></Value>
    </supportRequestEmail>
  </Properties>
</Content>