<?xml version="1.0" encoding="utf-8"?>
<Content Key="ebb59469-277b-4d7f-84f4-9608bf03c688" Alias="2025-11-16 13:09 - Louise" Level="2">
  <Info>
    <Parent Key="9bca9c6d-e8b2-4b05-a54d-df4147b7a58d">Form Submissions</Parent>
    <Path>/FormSubmissions/Louise</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-16T13:09:03</CreateDate>
    <NodeName Default="2025-11-16 13:09 - Louise" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[louise@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Louise]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Test2]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0892345]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>