<?xml version="1.0" encoding="utf-8"?>
<Content Key="6db9c4a0-ef94-4557-8efb-8ce6cba01eb0" Alias="2025-11-13 13:18 - d@c.com" Level="2">
  <Info>
    <Parent Key="c77ad86a-27f6-45dc-a90b-237a649fc15f">Support Submissions</Parent>
    <Path>/SupportSubmissions/dCcom</Path>
    <Trashed>false</Trashed>
    <ContentType>supportRequest</ContentType>
    <CreateDate>2025-11-13T13:18:00</CreateDate>
    <NodeName Default="2025-11-13 13:18 - d@c.com" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <supportRequestEmail>
      <Value><![CDATA[d@c.com]]></Value>
    </supportRequestEmail>
  </Properties>
</Content>