<?xml version="1.0" encoding="utf-8"?>
<Content Key="5cabe1e9-e2ae-47e7-8484-3bc74ecceb93" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="e277ee9d-7cba-484b-a443-e6b6e7fbc52b">Services</Parent>
    <Path>/Onatrix/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-22T15:48:51</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="30e8a1b9-b622-4881-9ab3-5e57e9bfbf30">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "29d7a034-2da4-433e-9be0-e72df5b77746",
      "key": "79bf103c-d1a3-4bc9-b86e-5a153f5351f3",
      "udi": null,
      "values": [
        {
          "alias": "supportDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "online support 24/7, we are here to help you"
        },
        {
          "alias": "supportLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How can we help you?"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "79bf103c-d1a3-4bc9-b86e-5a153f5351f3",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "79bf103c-d1a3-4bc9-b86e-5a153f5351f3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "8655495c-49b8-43a2-8ebe-7e9878ecf566",
    "mediaKey": "cb04d99a-b6aa-46b9-92b4-0ff20b9eb5c9",
    "mediaTypeAlias": "File",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>