<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad869b80-5612-4ee1-ba4c-1634f956e4ae" Alias="Contact" Level="2">
  <Info>
    <Parent Key="814ab8d0-e56f-4477-a327-58e5bb0c61d9">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-20T21:00:51</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a93754db-3f94-4aae-9b8e-1bf54a066c91">contactPage</Template>
  </Info>
  <Properties>
    <contactSectionPicker>
      <Value><![CDATA[umb://document/63442c736d274a3fb5f91c1ded432730]]></Value>
    </contactSectionPicker>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <partnerItem>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dba5c0ff-a1cf-4d95-b52b-61e8fd1d3c69",
      "key": "e01a5acd-543f-4244-8150-a98ef398dadb",
      "udi": null,
      "values": [
        {
          "alias": "partnerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "FREEDOMBIRD"
        },
        {
          "alias": "partnerImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8b7bf12d-0991-4731-8a0b-e646dd224041",
              "mediaKey": "9137e532-25a1-4d90-835c-dd0028dfdcbd",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "dba5c0ff-a1cf-4d95-b52b-61e8fd1d3c69",
      "key": "79295b4b-23fa-4e53-ac90-10249f13d36f",
      "udi": null,
      "values": [
        {
          "alias": "partnerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "IDENTITY"
        },
        {
          "alias": "partnerImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ec2d0108-ea97-4c00-8b84-5cc714a0c24a",
              "mediaKey": "4eeee22d-8c00-480c-95a6-ace3a7a36153",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "dba5c0ff-a1cf-4d95-b52b-61e8fd1d3c69",
      "key": "369fbaa7-896d-4159-b14b-2a38f5e43f95",
      "udi": null,
      "values": [
        {
          "alias": "partnerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "NATURAL"
        },
        {
          "alias": "partnerImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d9adf55b-421a-4298-aa52-79907f0bf50a",
              "mediaKey": "10f55267-440e-4612-ad47-53fde979ae73",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "dba5c0ff-a1cf-4d95-b52b-61e8fd1d3c69",
      "key": "2500ebac-21d0-4411-bcc0-b9e1fa43eb62",
      "udi": null,
      "values": [
        {
          "alias": "partnerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "simpleaf"
        },
        {
          "alias": "partnerImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "13d2dff0-63be-47a3-a906-ac6c4b1dbcd7",
              "mediaKey": "5e9d5fe4-e7d5-4864-a18b-c1161fd732ab",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "dba5c0ff-a1cf-4d95-b52b-61e8fd1d3c69",
      "key": "911e5e19-25c1-4940-a44f-ebfe8afc7466",
      "udi": null,
      "values": [
        {
          "alias": "partnerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "GLOBE"
        },
        {
          "alias": "partnerImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2b232727-5c25-4656-b4a3-3d9e48b48139",
              "mediaKey": "ba48a030-bad0-43d6-9f01-f48ee72ac0a8",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "dba5c0ff-a1cf-4d95-b52b-61e8fd1d3c69",
      "key": "addfa816-7150-44c4-b6dc-4f7eff1fb988",
      "udi": null,
      "values": [
        {
          "alias": "partnerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "FossilGroup"
        },
        {
          "alias": "partnerImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "fc381519-e55e-4f4b-b8a3-df647130500d",
              "mediaKey": "3b6dc14b-221a-4eaa-9d97-3a2aab4e6e10",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e01a5acd-543f-4244-8150-a98ef398dadb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "79295b4b-23fa-4e53-ac90-10249f13d36f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "369fbaa7-896d-4159-b14b-2a38f5e43f95",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2500ebac-21d0-4411-bcc0-b9e1fa43eb62",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "911e5e19-25c1-4940-a44f-ebfe8afc7466",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "addfa816-7150-44c4-b6dc-4f7eff1fb988",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e01a5acd-543f-4244-8150-a98ef398dadb",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "79295b4b-23fa-4e53-ac90-10249f13d36f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "369fbaa7-896d-4159-b14b-2a38f5e43f95",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "2500ebac-21d0-4411-bcc0-b9e1fa43eb62",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "911e5e19-25c1-4940-a44f-ebfe8afc7466",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "addfa816-7150-44c4-b6dc-4f7eff1fb988",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </partnerItem>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
  </Properties>
</Content>