<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a1e3377-12ee-42ef-ace7-340ad683972d" Alias="Contact Section" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ContactSection</Path>
    <Trashed Parent="9f096b07-807b-43c0-adfe-54240611904b">true</Trashed>
    <ContentType>shared</ContentType>
    <CreateDate>2025-11-06T22:43:36</CreateDate>
    <NodeName Default="Contact Section" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>