<?xml version="1.0" encoding="utf-8"?>
<Content Key="63442c73-6d27-4a3f-b5f9-1c1ded432730" Alias="Contact Section" Level="2">
  <Info>
    <Parent Key="bb015535-132c-447b-9b76-486c5cf13b6e">Shared</Parent>
    <Path>/Shared/ContactSection</Path>
    <Trashed>false</Trashed>
    <ContentType>contactSection</ContentType>
    <CreateDate>2025-11-06T21:51:57</CreateDate>
    <NodeName Default="Contact Section" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactHeading>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactHeading>
    <contactImage>
      <Value><![CDATA[[
  {
    "key": "f6a878ac-43b6-43ef-8bef-e2830f31579c",
    "mediaKey": "580c6d49-221a-4d19-b2b5-fae92758e20b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactImage>
    <contactLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactLocation>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
  </Properties>
</Content>