<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad869b80-5612-4ee1-ba4c-1634f956e4ae" Alias="Contact" Level="2">
  <Info>
    <Parent Key="814ab8d0-e56f-4477-a327-58e5bb0c61d9">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-20T21:00:51</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a93754db-3f94-4aae-9b8e-1bf54a066c91">contactPage</Template>
  </Info>
  <Properties>
    <contactSection>
      <Value><![CDATA[umb://document/63442c736d274a3fb5f91c1ded432730]]></Value>
    </contactSection>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3709a6f7-3914-4b29-a07c-21214d57e903",
      "key": "c705a094-f5bc-4b61-a2e5-3d8dddaa85c0",
      "udi": null,
      "values": [
        {
          "alias": "partnerItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "dba5c0ff-a1cf-4d95-b52b-61e8fd1d3c69",
                "key": "84cfe0cf-1f52-4ffa-965a-a7620962f1ce",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "FREEDOMBIRD"
                  },
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "17281c39-a347-4d65-9362-f0af3479cf55",
                        "mediaKey": "9137e532-25a1-4d90-835c-dd0028dfdcbd",
                        "mediaTypeAlias": "File",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "dba5c0ff-a1cf-4d95-b52b-61e8fd1d3c69",
                "key": "23995f00-8c0e-46ed-9cab-5f7c58d9d1bf",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "IDENTITY"
                  },
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a8b273ae-de8a-4771-9b65-d1b5fd73d33d",
                        "mediaKey": "4eeee22d-8c00-480c-95a6-ace3a7a36153",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "dba5c0ff-a1cf-4d95-b52b-61e8fd1d3c69",
                "key": "a242ac5c-2bee-4d16-bd1c-27f1bda2ed51",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "NATURAL"
                  },
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ffb76b7d-bcec-45b8-afaf-206f5d19c43e",
                        "mediaKey": "10f55267-440e-4612-ad47-53fde979ae73",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "dba5c0ff-a1cf-4d95-b52b-61e8fd1d3c69",
                "key": "5962f3da-2eca-4f0d-8575-79ec9e410b90",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "simpleaf"
                  },
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "84d537a0-df1b-4901-9e33-a0c7089c85f7",
                        "mediaKey": "5e9d5fe4-e7d5-4864-a18b-c1161fd732ab",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "dba5c0ff-a1cf-4d95-b52b-61e8fd1d3c69",
                "key": "2da96b95-2b00-45d0-bac4-54b8e1dcb7b3",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "GLOBE"
                  },
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "11f20593-6d68-435f-af7c-3c87f13fe2a0",
                        "mediaKey": "ba48a030-bad0-43d6-9f01-f48ee72ac0a8",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "dba5c0ff-a1cf-4d95-b52b-61e8fd1d3c69",
                "key": "1a6d4b66-9465-4c55-bf07-2d3a90519e63",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "FossilGroup"
                  },
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1bf07316-b7bd-4ef3-94d3-4fd2499a9393",
                        "mediaKey": "3b6dc14b-221a-4eaa-9d97-3a2aab4e6e10",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "84cfe0cf-1f52-4ffa-965a-a7620962f1ce",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "23995f00-8c0e-46ed-9cab-5f7c58d9d1bf",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a242ac5c-2bee-4d16-bd1c-27f1bda2ed51",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "5962f3da-2eca-4f0d-8575-79ec9e410b90",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2da96b95-2b00-45d0-bac4-54b8e1dcb7b3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1a6d4b66-9465-4c55-bf07-2d3a90519e63",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "84cfe0cf-1f52-4ffa-965a-a7620962f1ce",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "23995f00-8c0e-46ed-9cab-5f7c58d9d1bf",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a242ac5c-2bee-4d16-bd1c-27f1bda2ed51",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "5962f3da-2eca-4f0d-8575-79ec9e410b90",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2da96b95-2b00-45d0-bac4-54b8e1dcb7b3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1a6d4b66-9465-4c55-bf07-2d3a90519e63",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "c705a094-f5bc-4b61-a2e5-3d8dddaa85c0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c705a094-f5bc-4b61-a2e5-3d8dddaa85c0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>