<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad47ba18-a938-4526-9c73-338adbe7d1d2" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="e277ee9d-7cba-484b-a443-e6b6e7fbc52b">Services</Parent>
    <Path>/Onatrix/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-22T15:48:01</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="30e8a1b9-b622-4881-9ab3-5e57e9bfbf30">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "29d7a034-2da4-433e-9be0-e72df5b77746",
      "key": "915641bf-6c2c-4b04-a67f-6c541f4387d3",
      "udi": null,
      "values": [
        {
          "alias": "supportDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "online support 24/7, we are here to help you"
        },
        {
          "alias": "supportLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How can we help you?"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "915641bf-6c2c-4b04-a67f-6c541f4387d3",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "915641bf-6c2c-4b04-a67f-6c541f4387d3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "1503703f-f021-4b01-ad90-4a8275d7db81",
    "mediaKey": "c619c8c3-9e36-4bab-8da6-af0740f4fd1f",
    "mediaTypeAlias": "File",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>