<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c143266-4d46-44c3-b84e-0f2f07e00912" Alias="Life Advise" Level="3">
  <Info>
    <Parent Key="e277ee9d-7cba-484b-a443-e6b6e7fbc52b">Services</Parent>
    <Path>/Onatrix/Services/LifeAdvise</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-13T15:25:30</CreateDate>
    <NodeName Default="Life Advise" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="30e8a1b9-b622-4881-9ab3-5e57e9bfbf30">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Life Advise]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[This is for tha pagination to appear.]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "f5c8f0ae-9380-4d91-b501-6dc6786d4b83",
    "mediaKey": "de00349b-9073-46f9-a1ba-86466c195084",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>