<?xml version="1.0" encoding="utf-8"?>
<Content Key="c3279484-d558-4699-bc2c-762bb28296c8" Alias="Projects" Level="2">
  <Info>
    <Parent Key="814ab8d0-e56f-4477-a327-58e5bb0c61d9">Onatrix</Parent>
    <Path>/Onatrix/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectPage</ContentType>
    <CreateDate>2025-11-05T11:16:21</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a541075f-097a-4fcc-9be1-6bc9c3429baf">ProjectPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Projects]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
  </Properties>
</Content>