<?xml version="1.0" encoding="utf-8"?>
<Content Key="c7c3c696-c21f-4106-acaa-220edf49877c" Alias="Question Submissions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/QuestionSubmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSubmissions</ContentType>
    <CreateDate>2025-11-14T11:37:25</CreateDate>
    <NodeName Default="Question Submissions" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>