<?xml version="1.0" encoding="utf-8"?>
<Content Key="e277ee9d-7cba-484b-a443-e6b6e7fbc52b" Alias="Services" Level="2">
  <Info>
    <Parent Key="814ab8d0-e56f-4477-a327-58e5bb0c61d9">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-21T12:35:37</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6ded2b31-a3bc-4ccb-922a-9fa0ec6c6ef9">ServicePage</Template>
  </Info>
  <Properties>
    <contactSection>
      <Value><![CDATA[umb://document/63442c736d274a3fb5f91c1ded432730]]></Value>
    </contactSection>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
    <serviceHeading>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cstrong\u003E\u003Cspan style=\u0022font-weight: bold; font-size: 40px; white-space: pre-wrap;\u0022\u003EWe Provide The Solutions\u003C/span\u003E\u003C/strong\u003E\u003Cbr\u003E\u003Cstrong\u003E\u003Cspan style=\u0022font-weight: bold; font-size: 40px; white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/strong\u003E\u003C/p\u003E"
}]]></Value>
    </serviceHeading>
  </Properties>
</Content>