<?xml version="1.0" encoding="utf-8"?>
<Content Key="27e53db9-dd48-4f03-832d-63373a50bd33" Alias="Service Page" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ServicePage</Path>
    <Trashed Parent="814ab8d0-e56f-4477-a327-58e5bb0c61d9">true</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-11-06T21:54:35</CreateDate>
    <NodeName Default="Service Page" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6ded2b31-a3bc-4ccb-922a-9fa0ec6c6ef9">ServicePage</Template>
  </Info>
  <Properties>
    <contactSection>
      <Value><![CDATA[umb://document/63442c736d274a3fb5f91c1ded432730]]></Value>
    </contactSection>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
  </Properties>
</Content>