<?xml version="1.0" encoding="utf-8"?>
<Content Key="e277ee9d-7cba-484b-a443-e6b6e7fbc52b" Alias="Services" Level="2">
  <Info>
    <Parent Key="814ab8d0-e56f-4477-a327-58e5bb0c61d9">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-21T12:35:37</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6ded2b31-a3bc-4ccb-922a-9fa0ec6c6ef9">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8d8ed050-1de9-403f-9361-6264fa308874",
      "key": "7459da84-e2fc-42ed-ab94-8875d7fe2dad",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003EWe Provide The Solutions\u003C/h3\u003E\u003Ch3 style=\u0022text-align: center\u0022\u003ETo Grow Your Business Faster\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6b11222b-2845-45a3-9944-0752552866dc",
      "key": "44ffb3b0-7808-458f-be8c-9b66a3c27ed5",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "7459da84-e2fc-42ed-ab94-8875d7fe2dad",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7459da84-e2fc-42ed-ab94-8875d7fe2dad",
        "contentUdi": null,
        "settingsKey": "44ffb3b0-7808-458f-be8c-9b66a3c27ed5",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>