<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb015535-132c-447b-9b76-486c5cf13b6e" Alias="Shared" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Shared</Path>
    <Trashed>false</Trashed>
    <ContentType>shared</ContentType>
    <CreateDate>2025-11-06T21:50:43</CreateDate>
    <NodeName Default="Shared" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>