<?xml version="1.0" encoding="utf-8"?>
<Content Key="c787b72e-610b-4fbd-a6d3-31cd7332d5a7" Alias="Shared" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Shared</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>shared</ContentType>
    <CreateDate>2025-11-06T21:13:19</CreateDate>
    <NodeName Default="Shared" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>