<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a002206-672d-4fa2-8c61-748c65071d86" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-21T15:03:29</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c246ebe8-0823-477f-98b1-c272d337c4b1",
      "key": "708ef808-7751-4997-b19a-428c0fdb3c57",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "c246ebe8-0823-477f-98b1-c272d337c4b1",
      "key": "27f71b08-e920-4906-96b4-583ef542ceb2",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        }
      ]
    },
    {
      "contentTypeKey": "c246ebe8-0823-477f-98b1-c272d337c4b1",
      "key": "e2c061d5-954b-40c1-861c-ce95c11daaef",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://x.com/"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "708ef808-7751-4997-b19a-428c0fdb3c57",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "27f71b08-e920-4906-96b4-583ef542ceb2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e2c061d5-954b-40c1-861c-ce95c11daaef",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "708ef808-7751-4997-b19a-428c0fdb3c57",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e2c061d5-954b-40c1-861c-ce95c11daaef",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "27f71b08-e920-4906-96b4-583ef542ceb2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "ebc0a65b-1693-475b-a522-372f8936a924",
    "mediaKey": "875f9356-575b-42d1-a177-726400e534cf",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>