<?xml version="1.0" encoding="utf-8"?>
<Content Key="c77ad86a-27f6-45dc-a90b-237a649fc15f" Alias="Support Submissions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SupportSubmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>supportSubmissions</ContentType>
    <CreateDate>2025-11-13T13:01:36</CreateDate>
    <NodeName Default="Support Submissions" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>