<?xml version="1.0" encoding="utf-8"?>
<Content Key="153c5056-24f4-47b0-b901-862eeca3c139" Alias="Support Form Submissions" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/SupportFormSubmissions</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>supportSubmissions</ContentType>
    <CreateDate>2025-11-13T13:00:51</CreateDate>
    <NodeName Default="Support Form Submissions" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>