<?xml version="1.0" encoding="utf-8"?>
<Content Key="b140b6f5-b2fc-4227-b989-d0ebc5b30c1a" Alias="Tax and Trust" Level="3">
  <Info>
    <Parent Key="e277ee9d-7cba-484b-a443-e6b6e7fbc52b">Services</Parent>
    <Path>/Onatrix/Services/TaxAndTrust</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-22T15:48:26</CreateDate>
    <NodeName Default="Tax and Trust" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="30e8a1b9-b622-4881-9ab3-5e57e9bfbf30">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Tax and Trust]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "29d7a034-2da4-433e-9be0-e72df5b77746",
      "key": "b7c32f5c-d5cc-48e6-8616-c88e6f1cbabe",
      "udi": null,
      "values": [
        {
          "alias": "supportLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How can we help you?"
        },
        {
          "alias": "supportDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "online support 24/7, we are here to help you"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b7c32f5c-d5cc-48e6-8616-c88e6f1cbabe",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b7c32f5c-d5cc-48e6-8616-c88e6f1cbabe",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "9c6c8f35-b379-4288-b177-aa85446645b3",
    "mediaKey": "cfcb8b05-1e25-40f3-8db6-5d28f41a19aa",
    "mediaTypeAlias": "File",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>