@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --clr-neutral: #ffffff;
    --clr-white: #F2EDDC;
    --clr-white-100: #F7F7F7;
    --clr-dark: #0E0E0E;
    --clr-primary: #4F5955;
    --clr-main-light: #606966;
    --clr-accent: #F2EDDC;
    --clr-secondary: #D9C3A9;
    --clr-gray-400: #B5B264;
    --clr-body-text: #535656;
    --clr-body-text-100: #999999;
    --clr-notel: #9C9EA6;
    --clr-border-gray: #EAEAEA;
    --clr-border-400: #C7C8C9;
}


body {
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rte h3 {
    font-size: 2.5rem;
    color: var(--clr-primary);
    font-weight: 700;
}
