@using UmbracoEC.ViewModels
@model CallbackFormViewModel

<section class="bg-white shadow-md p-8 max-w-md mx-auto rounded">
    <h3 class="text-lg font-semibold mb-2">Request a call back</h3>
    <p class="text-sm text-gray-600 mb-6">
        Dolor in reprehenderit in voluptate velit esse cillum dolore...
    </p>

    @using (Html.BeginUmbracoForm("HandleCallbackForm", "Callback", FormMethod.Post, new { novalidate = "novalidate" }))
    {
        @await Html.PartialAsync("Partials/Forms/_CallbackFormFields", Model)

    }
</section>